on:
  workflow_call:
    secrets:
      TEST_SECRET:
        required: true

jobs:
  export-env:
    runs-on: ubuntu-latest
    steps:
      - run: echo "TEST_SECRET=${{ secrets.TEST_SECRET }}" >> $GITHUB_ENV
